<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Pick N Mix</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1> 🍃Pick N MIx🍃</h1>
    </header>
    <nav>
      <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i>Grocery
          Shopping Land</a>
        <a href="#"><i class="fa fa-fw fa-cart"></i> Cart</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        <!-- If the user is logged in, show a logout button -->
        {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <!-- Otherwise, show a link to login -->
          <a href="/login">Login</a>
        {{/if}}
      </div>

    </nav>
    <main>
      <aside>
        <h2>You can have choose among the grocery catagories!</h2>
      </aside>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    <!-- If the user is logged in, load the JS script for when they logout -->
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>