<div class="flex-column justify-space-around">
    <div class="col-md-5">
        <h2>
            WELCOME TO THE ULTIMATE ONLINE SHOPPING EXPERIENCE!
        </h2>
        <p>
            Check out the links on the side to view all products.
            <br>
            Login in order to be able to save your products to a list.
        </p>
        <div class="product-cards">
            <p>Insert some products in here??</p>
        </div>
    </div>
</div>