<h1 class="text-center">Here is your shopping list.</h1>

<div class="d-flex flex-wrap justify-content-center">
    <ol class="list-group list-group-numbered" style="width: 40rem;">
        {{#each listItems as |listItem|}}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{listItem.product.name}}</div>
                Total price&colon; &dollar;{{listItem.quantity}} * {{listItem.product.price}}.
            </div>
            <button class="btn btn-danger">Delete</button>
        </li>
        {{/each}}
    </ol>
</div>