<div id="container" class="container columns full screen">
    <div class="card">
        <div class="card-header">
            <h2>{{product.name}}</h2>
        </div>
        <p id="product-desc">
            {{product.desc}}
        </p>
    </div>
</div>